<link rel="stylesheet" type="text/css" href="app.component.css" />

<div class="bg">

  <div class="titles">
    <ul style="font-size: 14px;">
      <li *ngFor="let captionItem of captionList">{{captionItem.message}}</li>
    </ul>
    <ul style="font-size: 14px;">
      <li *ngFor="let captionItem of usedCaptionList">{{captionItem.message}}</li>
    </ul>
  </div>

  <div *ngIf="title">Caption: {{title}}</div>

  <button [disabled]="!title" class="btn btn-danger" (click)="handleClickButton()">
    Next 
  </button>
</div>